aaa authentication login TAC 
  method tacacs
  method local
exit

banner login "This device can be used by authorized users only. Unauthorized access is prosecuted by federal law (Federal law 63, article 272 of the Criminal Code of the Russian Federation"
banner motd "Test motd banner"

hostname {{ hostname }}

interface {{ host_int }}
  ipv4 address {{ host_ip }}/22
  vrf mgmt-intf
exit
interface {{ int.to_phys1.int_name }}
  description "{{ int.to_phys1.neighbor }}"
  ipv4 address {{ int.to_phys1.ip }}
exit
interface {{ int.to_phys2.int_name }}
  description "{{ int.to_phys2.neighbor }}"
  ipv4 address {{ int.to_phys2.ip }}
exit
interface {{ int.to_virt.int_name }}
  description "{{ int.to_virt.neighbor }}"
  encapsulation outer-vid {{ int.to_virt.vlan }}
  ipv4 address {{ int.to_virt.ip }}
exit

{% for interfaces in int.to_phys1.interface %}interface {{ interfaces }}
  load-interval 20
exit
{% endfor %}{% for interfaces in int.to_phys2.interface %}interface {{ interfaces }}
  load-interval 20
exit
{% endfor %}interface {{ int.lo.interface }}
exit

vrf mgmt-intf 
  rd 0:0
exit
lacp
  lacp interface {{ int.to_phys1.int_name }}
  exit
  lacp interface {{ int.to_phys2.int_name }}
  exit{% for interfaces in int.to_phys1.interface %}
  lacp interface {{ interfaces }}
    bundle id {{ int.to_phys1.id }}
    bundle mode {{ int.to_phys1.mode }}
  exit{% endfor %}{% for interfaces in int.to_phys2.interface %}
  lacp interface {{ interfaces }}
    bundle id {{ int.to_phys2.id }}
    bundle mode {{ int.to_phys2.mode }}
  exit{% endfor %}
exit


line ssh login authentication TAC
line telnet login authentication TAC

router static 
  vrf mgmt-intf 
    address-family ipv4 unicast 
      destination 192.168.0.0/16 192.168.16.1 
      exit
      destination 192.168.32.0/20 192.168.16.1 
      exit
    exit
  exit
exit

ntp vrf mgmt-intf 
  server 192.168.16.89 
  exit
exit

snmp server vrf mgmt-intf
  community label private
    community-name encrypted BEBD045EB50C5AFE75
    rights rw
  exit
  community label public
    community-name encrypted 8CA10161B90C
    version v2c
  exit
exit

ssh server vrf mgmt-intf 
exit
telnet server vrf mgmt-intf
exit

tacacs-server host 192.168.16.112 vrf MGN 
  password encrypted 8FB1007FB51B
  source-address 10.10.10.3
exit

user ad
  password encrypted $6$T4hZd31JW/J3l/DH$CUcT0ksVznXLJWrOLIUVJHy6kv0nZOQCV1WX7WqgxFtZrgi0COcoVE1LAEZWZ44NonbVS9PnNarPP1ljrX6SJ0
  privilege p15
exit

user admin 
  password encrypted $6$l0YtRh71nZ.zOv/3$ffX5KG61Q7HlhbkZVDoye4dI.wsOcxb.2J8SqHACtK486MCTcQjOIq71bLDcSBSSreZLhUlyU/fSTeB.BFA2v/
  privilege p15
exit

